

html, body {
    height: 100%;
    margin: 0;
}



body {
    background-color: #AAE6E3;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.btn-task {
    margin-top:10px;
    background-color: #E8B931;
    color: black;
}

.btn-task:hover {
    background-color: #AAE6E3;
   
}
.btn-primary:hover{
    background-color:#BBBBBB !important; 
   
} 




.form-control:focus {
    border-color: #ff69b4;
    box-shadow: none;

}


.nav-link:hover{
   
    background-color:#4AD4CC70 !important;
    text-decoration:underline;
    padding:10px;
    
    
   
}


.navbar-brand img {
    height:150px;
    max-height:300px;
    top:-70px;  
} 
.text-center {
    text-align: center !important;
    color: #030B7F;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #E8B931;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}
footer {
    display: block;
    unicode-bidi: isolate;
    width: 100%;
}